@import "tailwindcss";

@font-face {
  font-family: "Supply";
  src: url("/Supply-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Supply";
  src: url("/Supply-Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Supply";
  src: url("/Supply-Bold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Supply";
  src: url("/Supply-Light.woff2") format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Supply";
  src: url("/Supply-UltraLight.woff2") format("woff2");
  font-weight: 200;
}

/* Custom utility classes */
.supply-regular {
  font-family: "Supply", sans-serif;
  font-weight: 400;
}
.supply-medium {
  font-family: "Supply", sans-serif;
  font-weight: 500;
}
.supply-bold {
  font-family: "Supply", sans-serif;
  font-weight: 700;
}
.supply-light {
  font-family: "Supply", sans-serif;
  font-weight: 300;
}
.supply-ultralight {
  font-family: "Supply", sans-serif;
  font-weight: 200;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

@keyframes wipe {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-wipe {
  animation: wipe 1.2s ease forwards;
}

@keyframes glitch-flash {
  10%,
  30%,
  60% {
    background-color: white;
  }
  0%,
  20%,
  50%,
  70%,
  100% {
    background-color: #0ea5e9; /* Tailwind sky-500 */
  }
}

.animate-glitch-flash {
  animation: glitch-flash 1s steps(1, end) forwards;
}
